<div class="container">
  <div class="row my-3">
    <h4 class="offset-md-2"><span class="bg-light">マイページ</span></h4>
  </div>

  <div class="d-flex my-3">
    <h4>登録情報</h4>
     <%= link_to information_path, class: " col-md-3 offset-md-1" do %>
        <div class="btn btn-success " >編集する</div>
     <% end %>
  </div>
  <div class="d-flex">
    <ul class="list-group w-25">
      <li class="list-group-item bg-light">氏名</li>
      <li class="list-group-item bg-light">カナ</li>
      <li class="list-group-item bg-light">郵便番号</li>
      <li class="list-group-item bg-light">住所</li>
      <li class="list-group-item bg-light">電話番号</li>
      <li class="list-group-item bg-light">メールアドレス</li>
    </ul>
    <ul class="list-group w-50">
      <li class="list-group-item "><%= @customer.first_name %> <%= @customer.last_name %></li>
      <li class="list-group-item"><%= @customer.first_name_kana %> <%= @customer.last_name_kana %></li>
      <li class="list-group-item"><%= @customer.postal_code %></li>
      <li class="list-group-item"><%= @customer.address %></li>
      <li class="list-group-item"><%= @customer.telephone_number %></li>
      <li class="list-group-item"><%= @customer.email %></li>
    </ul>
  </div>
  <div class="d-flex my-3">
    <h4>注文履歴</h4>
    <%= link_to orders_path, class: "col-md-3 offset-md-1" do %>
      <div class="btn btn-primary" >一覧を見る</div>
    <% end %>
  </div>
</div>