<h2>商品詳細</h2>

<%= image_tag @item.get_image(200,200) %>

<p>商品名 <%= @item.name %></p>
<p>商品詳細 <%= @item.introduction %></p>
<p>ジャンル</p>
<p>税込価格<br>
   (税抜価格)<%= @item.price %>円
</p>
<p>販売ステータス</p>
<% if @item.is_active %>
  販売中
<% else %>
  販売中止
<% end %>


<%= link_to edit_admin_item_path do %>
<button class="btn btn-secondary btn-lg" >編集する</button>
<% end %>
