<div class="container">
  <div class="container">
      <%= image_tag 'no_image.jpg', :size => '500x250' %>
        <p>
          ようこそ、ながのCAKEへ！<br>
          このサイトは、 ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。
        </p>
      </div>
      <h4>新着商品</h4>
      <div class="row">
        <% @items.each do |item| %>
        <%= link_to public_item_path(item.id) do %>
        <div>
          <div>
            <%= image_tag item.get_image(200,100) %><br>
            <%= item.name %><br>
            <%= item.price %>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <%= link_to "全ての商品を見る", public_items_path %>
</div>