<div class="container">
  <% if @customer.errors.any? %>
  <%= @customer.errors.count %>件のエラーが発生しました
  <ul>
    <% @customer.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>
  <div class="row">
    <div class="bg-light m-4 col-md-3">
      <strong>
        <%= @customer.first_name %><%= @customer.last_name %>
      </strong>
      さんの
      <strong>
        会員詳細
      </strong>
    </div>
  </div>

  <%= form_with model: @customer, url: admin_customer_path do |f| %>
  <div class="row p-2">
    <div class="col-md-3">会員ID</div>
    <%= @customer.id %>
  </div>
  <div class="row p-2">
    <div class="col-md-3">氏名</div>
    <%= f.text_field :first_name %> <%= f.text_field :last_name, class: "ml-4" %>
  </div>
  <div class="row p-2">
    <div class="col-md-3">フリガナ</div>
    <%= f.text_field :first_name_kana %> <%= f.text_field :last_name_kana, class: "ml-4" %>
  </div>
  <div class="row p-2">
    <div class="col-md-3">郵便番号</div>
    <%= f.text_field :postal_code %>
  </div>
  <div class="row p-2">
    <div class="col-md-3">住所</div>
    <%= f.text_field :address, class: "w-50"%>
  </div>
  <div class="row p-2">
    <div class="col-md-3">電話番号</div>
    <%= f.text_field :telephone_number %>
  </div>
  <div class="row p-2">
    <div class="col-md-3">メールアドレス</div>
    <%= f.text_field :email %>
  </div>
  <div class="row p-2">
    <div class="col-md-3">会員ステータス</div>
    <div>
       <%= f.radio_button :is_deleted, :false %>
       <%= f.label:有効 %>
     </div>
     <div class="ml-3">
       <%= f.radio_button :is_deleted, :true %>
       <%= f.label:退会 %>
     </div>
  </div>
  <div class="row p-2">
    <%= f.submit "変更を保存", class: "btn btn-success offset-md-3" %>
  </div>
  <% end %>
</div>