<div class="container">
  <div class="row">
    <h4 class="m-4"><span class="bg-light">注文情報入力</span></h4>
  </div>
  <%= form_with model: @order, url: orders_confirm_path, method: :post do |f| %>
  <div>
    <h4>支払い方法</h4>
    <div class="row">
      <%= f.radio_button :payment_method, Order.payment_methods.key(0), class: "ml-4" %>
      <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
    </div>
    <div class="row">
      <%= f.radio_button :payment_method, Order.payment_methods.key(1), class: "ml-4" %>
      <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer] %>
    </div>
  </div>
  <div>
    <h4>お届け先</h4>
    <div>
      <%= f.radio_button :select_address, 0 %>
      <%= f.label :select_addres_0, "ご自身の住所" %><br >
      <div class="ml-4">
        <%= @customer.address_display %><br >
        <%= @customer.first_name %><%= @customer.last_name %>
      </div>
    </div>
    <!--配送先追加無しなので非表示-->
    <!--<div>-->
      <%#= f.radio_button :select_address, 1 %>
      <%#= f.label :select_address_1, "登録済み住所から選択" %><br >
      <div class="ml-4"><%#= f.select :address_id, options_from_collection_for_select(@address, :id, :address_display) %></div>
    </div>
    <div>
      <%= f.radio_button :select_address, 2 %>
      <%= f.label :select_address_2, "新しいお届け先" %>
      <div class="row ml-4 py-1">
        <div style="width: 20%;">郵便番号(ハイフンなし)</div><%= f.text_field :postal_code %>
      </div>
      <div class="row ml-4 py-1">
        <div style="width: 20%;">住所</div><%= f.text_field :address, class: "w-50" %>
      </div>
      <div class="row ml-4 py-1">
        <div style="width: 20%;">宛名</div><%= f.text_field :name %>
      </div>
      <div class="row my-3">
        <%= f.submit "確認画面へ進む", class: "btn btn-primary btn-md col-2 offset-md-5" %>
      </div>

    </div>
  <% end %>
  </div>
</div>